<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLP"
            sequence="0"/>
        <menuitem name="Phòng Họp" 
            id="menu_phong_hop" 
            parent="menu_root" 
            sequence="1"
            action="action_phong_hop"
        />
         <menuitem name="Phòng Hội Nghị" 
            id="menu_phong_hoi_nghi" 
            parent="menu_root" 
            sequence="2"
            action="action_phong_hoi_nghi"
        />
        <menuitem name="Đơn Mượn Phòng" 
            id="menu_don_muon_phong" 
            parent="menu_root" 
            sequence="3"
            action="action_don_muon_phong"
        />
          
          <menuitem name="Thống Kê " 
            id="menu_thong_ke" 
            parent="menu_root" 
            sequence="6"
            action="action_thong_ke"
        />
        <menuitem name="Tiện ích " 
            id="menu_tien_ich" 
            parent="menu_root" 
            sequence="5"
            action="action_tien_ich"
        />
       
         <menuitem name="Lịch Sử Sử Dụng Phòng" 
            id="menu_lich_su_su_dung_phong" 
            parent="menu_root" 
            sequence="4"
            action="action_lich_su_su_dung_phong"
        />
        
        
    </data>
</odoo>
