<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="QLP"
            sequence="0"/>
        <menuitem name="Đặt Phòng" 
            id="menu_dat_phong" 
            parent="menu_root" 
            sequence="1"
            action="action_dat_phong"
        />
          
          <menuitem name="Thống Kê Phòng Họp" 
            id="menu_thong_ke_phong_hop" 
            parent="menu_root" 
            sequence="5"
            action="action_thong_ke_phong_hop"
        />
       
         <menuitem name="Lịch Trình Phòng Họp" 
            id="menu_lich_trinh_cuoc_hop" 
            parent="menu_root" 
            sequence="2"
            action="action_lich_trinh_cuoc_hop"
        />
        <menuitem name="Thiết Bị Phòng Họp" 
            id="menu_thiet_bi_phong_hop" 
            parent="menu_root" 
            sequence="3"
            action="action_thiet_bi_phong_hop"
        />
        <menuitem name="Báo Cáo Cuộc Họp" 
            id="menu_bao_cao_cuoc_hop" 
            parent="menu_root" 
            sequence="4"
            action="action_bao_cao_cuoc_hop"
        />
    </data>
</odoo>
